.__local__dashboard__critical-alarm {
    background-color: #cb0000cc;
}

.__local__dashboard__major-alarm {
    background-color: #f1960fcc;
}

.__local__dashboard__minor-alarm {
    background-color: #ffc425cc;
}

.__local__dashboard__warning-alarm {
    background-color: #00aeefcc;
}

.__local__dashboard__indeterminate-alarm {
    background-color: #cfcfcf;
}