<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
   <head>
      <meta http-equiv=Content-Type content="text/html; charset=us-ascii">
      <meta name=Generator content="Microsoft Word 15 (filtered medium)">
      <style>
         <!--
            /* Font Definitions */
            @font-face
            	{font-family:"Cambria Math";
            	panose-1:2 4 5 3 5 4 6 3 2 4;}
            @font-face
            	{font-family:Calibri;
            	panose-1:2 15 5 2 2 2 4 3 2 4;}
            @font-face
            	{font-family:Cambria;
            	panose-1:2 4 5 3 5 4 6 3 2 4;}
            /* Style Definitions */
            p.MsoNormal, li.MsoNormal, div.MsoNormal, pre.MsoNormal
            	{margin:0cm;
            	margin-bottom:.0001pt;
            	font-size:11.0pt;
            	font-family:"Calibri",sans-serif;}
            h2
            	{mso-style-priority:9;
            	mso-style-link:"Heading 2 Char";
            	mso-margin-top-alt:auto;
            	margin-right:0cm;
            	mso-margin-bottom-alt:auto;
            	margin-left:0cm;
            	font-size:18.0pt;
            	font-family:"Calibri",sans-serif;}
            h4
            	{mso-style-priority:9;
            	mso-style-link:"Heading 4 Char";
            	mso-margin-top-alt:auto;
            	margin-right:0cm;
            	mso-margin-bottom-alt:auto;
            	margin-left:0cm;
            	font-size:12.0pt;
            	font-family:"Calibri",sans-serif;}
            a:link, span.MsoHyperlink
            	{mso-style-priority:99;
            	color:#0563C1;
            	text-decoration:underline;}
            a:visited, span.MsoHyperlinkFollowed
            	{mso-style-priority:99;
            	color:#954F72;
            	text-decoration:underline;}
            p.msonormal0, li.msonormal0, div.msonormal0
            	{mso-style-name:msonormal;
            	mso-margin-top-alt:auto;
            	margin-right:0cm;
            	mso-margin-bottom-alt:auto;
            	margin-left:0cm;
            	font-size:11.0pt;
            	font-family:"Calibri",sans-serif;}
            span.Heading4Char
            	{mso-style-name:"Heading 4 Char";
            	mso-style-priority:9;
            	mso-style-link:"Heading 4";
            	font-family:"Calibri Light",sans-serif;
            	color:#2F5496;
            	mso-fareast-language:EN-IN;
            	font-style:italic;}
            span.Heading2Char
            	{mso-style-name:"Heading 2 Char";
            	mso-style-priority:9;
            	mso-style-link:"Heading 2";
            	font-family:"Calibri Light",sans-serif;
            	color:#2F5496;
            	mso-fareast-language:EN-IN;}
            span.EmailStyle20
            	{mso-style-type:personal-reply;
            	font-family:"Calibri",sans-serif;
            	color:windowtext;}
            .MsoChpDefault
            	{mso-style-type:export-only;
            	mso-fareast-language:EN-US;}
            .LandmarkDetails, .BetweenLandmark, .OnLandmark{
               font-size:11.0pt;
            	font-family:"Calibri",sans-serif;
            }
            @page WordSection1
            	{size:612.0pt 792.0pt;
            	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
            div.WordSection1
            	{page:WordSection1;}
            -->
      </style>
      <!--[if gte mso 9]>
      <xml>
         <o:shapedefaults v:ext="edit" spidmax="1026" />
      </xml>
      <![endif]--><!--[if gte mso 9]>
      <xml>
         <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1" />
         </o:shapelayout>
      </xml>
      <![endif]-->
   </head>
   <body lang=de link="#0563C1" vlink="#954F72">
      <div class=WordSection1>
         <p class=MsoNormal>
            iOLM-Abweichung erkannt von <b>{{RTU_Name}}</b> auf optischer Strecke <b>{{Asset_Name}}</b> erkannt am <b>{{Alarm_Creation_date_time}} </b> .
            <o:p></o:p>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
         <p class=MsoNormal>
            <b>
               Details:-
               <o:p></o:p>
            </b>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Schweregrad</span>: {{Perceived_Severity}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Alarmtyp</span>: {{Alarm_Type}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Wahrscheinliche Ursache</span>: {{Probable_Cause}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Alarmzustand</span>: {{Alarm_State}}
            <o:p></o:p>
         </p>
         <p class='MsoNormal LandmarkDetails' style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>OTDR-Distanz</span>: {{Marker_Optical_Position}} 
            <o:p></o:p>
         </p>
         <p class='MsoNormal LandmarkDetails' style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Kabeldistanz</span>: {{Marker_Physical_Position}}
            <o:p></o:p>
         </p>
         <p class='MsoNormal LandmarkDetails' style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Name</span>: {{Marker_Cable_Segment_Name}}
            <o:p></o:p>
         </p>

         <p class='MsoNormal LandmarkDetails'>
            <o:p>&nbsp;</o:p>
         </p>
         <p class='MsoNormal LandmarkDetails'>
            <b>Lokalisierung:-</b>
            <o:p></o:p>
         </p>
         <p>
            <pre class='MsoNormal LandmarkDetails BetweenLandmark' style='margin-left:36.0pt'> {{Left_PhysicalDistanceToMarker}} {{position_Unit}} <span style='color:#00B0F0'> nach  </span>  {{Left_Landmark_Description}} </pre>
         </p>

         <p>
            <pre class='MsoNormal LandmarkDetails BetweenLandmark' style='margin-left:36.0pt'> {{ Right_PhysicalDistanceToMarker }} {{position_Unit}} <span style='color:#00B0F0'> vor  </span>  {{ Right_Landmark_Description }} </pre>
         </p>

         <p>
            <pre class='MsoNormal LandmarkDetails OnLandmark' style='margin-left:36.0pt'>  <span style='color:#00B0F0'>Um</span>, {{ AtLandmark_Description }}  </pre>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
         <p class=MsoNormal>
            <b>Kontext</b>:-
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Optischen Route</span>: {{Asset_Name}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Beschreibung der optischen Route </span>: {{Asset_Description}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Erkannt von</span>: {{RTU_Name}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Erwartete Position</span>:  {{iOLM_Worst_Deviation_Position}} {{position_Unit}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>GIS-Koordinaten</span>:  {{GEO_POSITION}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Externer GIS-Link</span>:  {{EXTERNAL_GIS_LINK}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Interner GIS-Link</span>:  {{Internal_Gis_Link}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Alarm-URL</span>:  {{ALARM_URL}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Physische Strecken-ID</span>:  {{Physical_Route_Id}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Externer Nms Ref1</span>:  {{External_Nms_Ref1}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Externer Nms Ref2</span>:  {{External_Nms_Ref2}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
         <p class=MsoNormal>
            <b>
               Schwellenwert:-
               <o:p></o:p>
            </b>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Schwellenwertname</span>: {{Triggered_Threshold}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Konfigurierter Schwellenwertlevel</span>: {{Threshold_Level}} {{Threshold_Level_Unit}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Beobachteter Wert</span>: {{Threshold_observed_value}} {{Threshold_Level_Unit}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
      </div>
   </body>
</html>
