<html xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:w="urn:schemas-microsoft-com:office:word" xmlns:m="http://schemas.microsoft.com/office/2004/12/omml" xmlns="http://www.w3.org/TR/REC-html40">
   <head>
      <meta http-equiv=Content-Type content="text/html; charset=utf-8">
      <meta name=Generator content="Microsoft Word 15 (filtered medium)">
      <style>
         <!--
            /* Font Definitions */
            @font-face
            	{font-family:"Cambria Math";
            	panose-1:2 4 5 3 5 4 6 3 2 4;}
            @font-face
            	{font-family:Calibri;
            	panose-1:2 15 5 2 2 2 4 3 2 4;}
            @font-face
            	{font-family:Cambria;
            	panose-1:2 4 5 3 5 4 6 3 2 4;}
            /* Style Definitions */
            p.MsoNormal, li.MsoNormal, div.MsoNormal
            	{margin:0cm;
            	margin-bottom:.0001pt;
            	font-size:11.0pt;
            	font-family:"Calibri",sans-serif;}
            h2
            	{mso-style-priority:9;
            	mso-style-link:"Heading 2 Char";
            	mso-margin-top-alt:auto;
            	margin-right:0cm;
            	mso-margin-bottom-alt:auto;
            	margin-left:0cm;
            	font-size:18.0pt;
            	font-family:"Calibri",sans-serif;}
            h4
            	{mso-style-priority:9;
            	mso-style-link:"Heading 4 Char";
            	mso-margin-top-alt:auto;
            	margin-right:0cm;
            	mso-margin-bottom-alt:auto;
            	margin-left:0cm;
            	font-size:12.0pt;
            	font-family:"Calibri",sans-serif;}
            a:link, span.MsoHyperlink
            	{mso-style-priority:99;
            	color:#0563C1;
            	text-decoration:underline;}
            a:visited, span.MsoHyperlinkFollowed
            	{mso-style-priority:99;
            	color:#954F72;
            	text-decoration:underline;}
            p.msonormal0, li.msonormal0, div.msonormal0
            	{mso-style-name:msonormal;
            	mso-margin-top-alt:auto;
            	margin-right:0cm;
            	mso-margin-bottom-alt:auto;
            	margin-left:0cm;
            	font-size:11.0pt;
            	font-family:"Calibri",sans-serif;}
            span.Heading4Char
            	{mso-style-name:"Heading 4 Char";
            	mso-style-priority:9;
            	mso-style-link:"Heading 4";
            	font-family:"Calibri Light",sans-serif;
            	color:#2F5496;
            	mso-fareast-language:EN-IN;
            	font-style:italic;}
            span.Heading2Char
            	{mso-style-name:"Heading 2 Char";
            	mso-style-priority:9;
            	mso-style-link:"Heading 2";
            	font-family:"Calibri Light",sans-serif;
            	color:#2F5496;
            	mso-fareast-language:EN-IN;}
            span.EmailStyle20
            	{mso-style-type:personal-reply;
            	font-family:"Calibri",sans-serif;
            	color:windowtext;}
            .MsoChpDefault
            	{mso-style-type:export-only;
            	mso-fareast-language:EN-US;}
            @page WordSection1
            	{size:612.0pt 792.0pt;
            	margin:72.0pt 72.0pt 72.0pt 72.0pt;}
            div.WordSection1
            	{page:WordSection1;}
            -->
      </style>
      <!--[if gte mso 9]>
      <xml>
         <o:shapedefaults v:ext="edit" spidmax="1026" />
      </xml>
      <![endif]--><!--[if gte mso 9]>
      <xml>
         <o:shapelayout v:ext="edit">
            <o:idmap v:ext="edit" data="1" />
         </o:shapelayout>
      </xml>
      <![endif]-->
   </head>
   <body lang=zh-CN link="#0563C1" vlink="#954F72">
      <div class=WordSection1>
         <p class=MsoNormal>
            OTDR 告警 <b>{{Alarm_Type}}</b> 检测的RTU：<b>{{RTU_Name}}</b> 光路由： <b>{{Asset_Name}}</b> 故障位置: <b>{{otdr_fault_position}}</b> 时间： <b>{{Alarm_Creation_date_time}} </b> .
            <o:p></o:p>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
         <p class=MsoNormal>
            <b>
               详情:-
               <o:p></o:p>
            </b>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>告警级别</span>: {{Perceived_Severity}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>告警类型</span>: {{Alarm_Type}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>可能原因</span>: {{Probable_Cause}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>告警状态</span>: {{Alarm_State}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
         <p class=MsoNormal>
            <b>相关信息</b>:-
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Optical Route </span>: {{Asset_Name}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Optical Route description</span>: {{Asset_Description}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>检测的RTU </span>: {{RTU_Name}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>故障位置 </span>:  {{otdr_fault_position}} {{position_Unit}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>GIS坐标 </span>:  {{GEO_POSITION}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>外部GIS链接 </span>:  {{EXTERNAL_GIS_LINK}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Internal GIS Link </span>:  {{Internal_Gis_Link}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>报警网址 </span>:  {{ALARM_URL}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>Physical Route ID </span>:  {{Physical_Route_Id}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>External Nms Ref1 </span>:  {{External_Nms_Ref1}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>External Nms Ref2 </span>:  {{External_Nms_Ref2}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
         <p class=MsoNormal>
            <b>
               门限:-
               <o:p></o:p>
            </b>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>门限名称</span>: {{Triggered_Threshold}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>门限值</span>: {{Threshold_Level}} {{Threshold_Level_Unit}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal style='margin-left:36.0pt'>
            <span style='color:#00B0F0'>测量值</span>: {{Threshold_observed_value}} {{Threshold_Level_Unit}}
            <o:p></o:p>
         </p>
         <p class=MsoNormal>
            <o:p>&nbsp;</o:p>
         </p>
      </div>
   </body>
</html>
